# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
algostore-fe/node_modules
algostore-flask-be/venv
.pnp
.pnp.js

# testing
/coverage

# production
algostore-fe/build

# misc
.DS_Store
.venv.local
.venv.development.local
.venv.test.local
.venv.production.local
.pyc

npm-debug.log*
yarn-debug.log*
yarn-error.log*
